@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* common styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1280px;
  margin: auto;
}
p {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.btn-primary {
  padding: 14px 30px;
  border-radius: 8px;
  background: #006a50;
  color: #ffff;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.btn-primary:hover {
  color: rgb(3, 52, 3);
  transform: scale(1.2);
  background: wheat;
}
.bg-color {
  background: #c6e4d6;
}
body {
  font-family: Fira Sans;
  background: #f1f1f3;
}
.section-title {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}

/* header styles */
nav {
  background: rgb(245, 245, 245);

  .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  h3 {
    color: rgb(14, 14, 14);
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
  }

  button {
    padding: 15px 30px;
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    color: rgb(0, 106, 80);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    cursor: pointer;
  }
  button:hover {
    background: rgb(0, 106, 80);
    color: red;
    border: 1px solid rgb(225, 19, 54);
  };
}

/* banner style */

.banner {
  margin-top: 20px;
}
.banner .container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  padding: 80px 55px;

  .banner-text {
    width: 622px;
    height: 326px;
  }

  .banner-text .title-name {
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 500;
  }
  .banner-text .section-title {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    margin-top: 15px;
    margin-bottom: 24px;
  }
  button {
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
  };
}

/* pillars style */

.pillers {
  margin: 80px 0;
}

.section-carts {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;

  .cart {
    width: 302px;
    height: 244px;
    padding: 24px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);

    h3 {
      color: rgba(14, 14, 14, 0.8);
      font-size: 20px;
      font-weight: 700;
      line-height: 24px;
      margin: 24px 0 10px;
    }
  };
}

/* vition of future style */

.future-vision {
  margin-bottom: 80px;
  .vision-text h2 {
    margin-bottom: 24px;
  }

  .vision-carts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
    margin: 32px 0;

    .cart {
      box-sizing: border-box;
      width: 410px;
      height: 325px;
      padding: 30px;
      box-sizing: border-box;
      border-radius: 8px;
      background: rgba(84, 144, 245, 0.2);
    }

    .two {
      background-color: rgb(198, 228, 214);
      .btn-primary {
        background: rgb(9, 161, 92);
       
      }
    }
    .three {
      background: rgb(247, 235, 207);
      .btn-primary {
        background: rgb(255, 194, 57);
      }
    }

    h3 {
      color: rgba(14, 14, 14, 0.8);
      font-family: Fira Sans;
      font-size: 20px;
      font-weight: 700;
      line-height: 24px;
      margin: 24px 0 10px;
    }

    p {
      margin-bottom: 24px;
    }
  }

  .description {
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 48px 24px;

    .description-contant {
      background-image: url(../images/quote-bg.png);
      background-repeat: no-repeat;
      padding-top: 25px;
    }

    .description-text {
      h4 {
        color: rgba(14, 14, 14, 0.8);
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        margin: 12px 0 5px;
      }
    }
  };
}

/* opinion style */
table {
  width: 100%;
  padding: 32px;
  border-radius: 16px;
  background: rgb(255, 255, 255);
  border-collapse: collapse;
}

.heading {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  box-sizing: border-box;
  background: rgb(198, 228, 214);
  margin-top: 24px;

  p {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
  };
}

td {
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  background: rgba(255, 255, 255, 0.1);
  padding: 30px 24px;
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;

  select {
    padding: 12px 14px;
    box-sizing: border-box;
    border: 1px solid rgb(14, 14, 14);
    border-radius: 4px;
    background: rgb(198, 228, 214);
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    cursor: pointer;
    margin-right: -80px;
  };
}

td:hover {
  background: rgba(245, 246, 246, 0.922);
}
th {
  padding: 24px;
  box-sizing: border-box;
  background: rgb(198, 228, 214);
}

/* Recent  style */

.recent-news {
  margin: 80px 0;

  .text-contant h3 {
    margin-bottom: 24px;
  }
  .text-contant p {
    margin-bottom: 32px;
  }

  .news-photo {
    display: flex;
    justify-content: space-between;
    border-radius: 24px;
    background: rgb(255, 255, 255);
    padding: 48px;

    .satelite img {
      border-radius: 24px;
      margin-right: 32px;
    }
    .description h3 {
      margin-bottom: 12px;
    }
    .description img {
      display: block;
      margin-bottom: 12px;
    }

    .description span {
      color: rgba(14, 14, 14, 0.7);
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }
    .description > span {
      margin-right: 12px;
    }
    .description p {
      margin: 12px 0 32px;
    }
  }

  .recent-photo {
    margin: 24px 0;
  };
}

/* donate style  */

.donate {
  .text-contant {
    margin: 0 auto;
    text-align: center;

    h3 {
      margin-bottom: 24px;
    }
    p {
      width: 1104px;
      height: 48px;
      margin: 0 auto;
    }
  }

  .amounts {
    display: flex;
    justify-content: space-between;
  }

  .amount {
    padding: 40px;
    display: inline-block;
    color: rgba(14, 14, 14, 0.8);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin-top: 32px;
    cursor: pointer;
  }

  .amount:hover {
    background: rgb(198, 228, 214);
    transition: all 0.3s ease-in;
    scale: ;
  }
  .second {
    background: rgb(198, 228, 214);
  }
  .second:hover {
    background: white;
    transition: all 0.3s ease-in;
  }

  .other-amount {
    text-align: center;

    .taka {
      margin: 32px 22px;

      input {
        width: 100%;
        padding: 20px;
        background: rgb(255, 255, 255);
        border: none;
        cursor: pointer;
      }
      input::placeholder {
        color: rgba(14, 14, 14, 0.3);
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
      }
    }
    button {
      margin-bottom: 80px;
    }
  };
}

/* footer style */

footer {
  .footer-contant {
    border-radius: 24px;
    background: rgb(198, 228, 214);
    margin: 0 auto;
    text-align: center;
    padding: 80px 265px;
    margin-bottom: 80px;

    h3 {
      margin-bottom: 16px;
    }
    p {
      margin-bottom: 24px;
    }
    .contuct {
      margin-bottom: 24px;
      display: flex;

      button {
        border-radius: 0px 8px 8px 0px;
      }

      input {
        width: 100%;
        background: rgb(255, 255, 255);
        padding: 18px 40px;
        border-radius: 8px 0px 0px 8px;
        border: none;
        cursor: pointer;
      }
    }
  };
}

/* sicial media style */

.social-media {
  margin: 50px;
  text-align: center;

  h4 {
    color: rgb(14, 14, 14);
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    padding-bottom: 32px;
    border-bottom: 1px solid rgba(14, 14, 14, 0.1);
    margin-bottom: 50px;
  }
  .media-link a {
    margin-right: 23px;
    cursor: pointer;
  };
}